h1 {
  color : hotpink;
 top-margin: 25pt;
}
.tuade {
  color: Lightpink;
  font-family: Arial;
  top-margin: 20pt;
  font-size: 15pt;
  font-weight: bold;
}
.noidung {
  color: black;
  top-margin: 6pt;
  font-size: 15pt;
  font-style: normal;
}
